@font-face {
  font-family: body;
  src: url(../type/Coconat-Regular.otf);
}
@font-face {
  font-family: head;
  src: url(../type/Coconat-BoldExt.otf);
}


#container{
  position: relative;
  height: 1350px;
  width: 950px;
  right:0px;
  top: 0px;
}

.laurelH1 {
width: 100%;
  font-family: head;
  font-size: 55px;
  text-align: right;
  text-shadow: 2px 2px 5px white;
  color:black;
  position: relative;
  top: 0px;
}
/* h1{
  position: absolute;
  width: 100%;
  top: -20px;
  font-size: 120px;

}

h2{
  position: relative;
  /* width: 100%; */
  /* font-size: 55px;
} */
p {
  font-family: body;
  /* width: 650px; */
  right: 0;
  font-size: 48px;
  text-align: right;
  top: 220px;
  position: relative;
}
.laurel {
  width: 420px;
  position: absolute;
top:150px;
z-index: -1;

}


#container2{
  position: absolute;
  height: 1350px;
  width: 950px;

.laurel1 {
  position: absolute;
  left: 500px;
  bottom: 0px;
}
.laurel2 {
  position: absolute;
  left: 4800px;
  top: 0px;
}
.laurel3 {
  position: absolute;
  left: 0px;
  top: 480px;
}
.laurel4 {
  position: absolute;
  left: 480px;
  top: 480px;
}
