@font-face {
  font-family: body;
  src: url(../type/Coconat-Regular.otf);
}
@font-face {
  font-family: head;
  src: url(../type/Coconat-BoldExt.otf);
}
body{
  background-color: #E8E5FC ;
}

#snakecontainer{
  width:950px;
  position: relative;
  right: 0px;

}
.snakeH1 {
  font-family: head;
  font-size: 70px;
  text-align: right;
  text-shadow: 2px 2px 5px white;
  color:black;
  position: absolute;
}

.snakeP0 {
  font-family: body;
  font-style: italic;
  font-size: 30px;
  position: absolute;
  top: 170px;
  right: 0;
  text-align: right;
}
.snakeP1 {
  font-family: body;
  width: 650px;
  right: 0;
  font-size: 48px;
  text-align: right;
  top: 230px;
  position: absolute;
}
.snakeP2 {
  font-family: body;
  font-size: 48px;
  text-align: right;
  position: absolute;
  top: 500px;
}
.snakeP3 {
  font-family: body;
  font-size: 48px;
  text-align: right;
  position: absolute;
  top: 900px;
}
.snake2 {
width: 600px;
position: absolute;
top: 160px;
left: -240px;
z-index: -10;
opacity: 100%;
}
#snakecontainer2{
  position: absolute;
  top: 1350px;
  width: 950px;
}
.snake3 {
  position: relative;
  left: 0px;
  top: 0px;
}
.snake4 {
  position: absolute;
  left: 480px;
  top: 0px;
}
.snake5 {
  position: absolute;
  left: 0px;
  top: 480px;
}
.snake6 {
  position: absolute;
  left: 480px;
  top: 480px;
}
